.message-error{
    margin-top: 5px;
    color: red;
}
.card {
    border-radius: 10px;
    padding: 20px;
}
.img-fluid {
    border: 3px solid #007bff;
}
.select2-container--default .select2-selection--single {
        height: calc(2.375rem + 2px); /* khớp với .form-select */
        padding: 0.375rem 0.75rem;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        font-size: 1rem;
        line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 10px;
}